*{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.banner{
	width: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.05)), url(/HCM-scaled.jpg);
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media only screen and (max-width: 63.1875em){
	.banner{
		background-image: none;
	}
}
.header{
	width: 1100px;
	height: 100px;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 180px;
}
.header .fpt-uni-logo{
	padding: 30px 50px 10px 10px;
}
.header .fpt-uni-intro{
	padding-top: 30px;
}
.header .fpt-uni-intro .content-uni-intro{
	color: rgb(16,114,187);
	font-size: 13px;
	padding: 10px 10px 10px 10px;
	border: 10px 10px 10px 10px;
	text-align: center;
	
}
.header .search{
	padding: 30px 10px 10px 50px;
}
.header .search .search-text{
	border-radius: 5px;
	border: solid 1px;
	padding: 3px;
	font-size: 14px;
}
.newsTabs .card-body .boxNewsTab {
    border-bottom: 1px solid #cccccc;
    padding: 1rem 0;
}
.file-student{
	background: rgb(255, 129, 117);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	border-radius: 5px;
}
.student-major{
	padding: 7px 30px 7px 15px;
	background: rgb(255, 198, 193);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	text-align: center;
	border-radius: 5px;
}
.student-certi{
	padding: 7px 5px 0px 5px;
	background: rgb(249, 170, 163);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	text-align: center;
	border-radius: 5px;
	height: 40px;
}
.file-student-title{
	padding: 7px 5px 0px 15px;
	background: rgb(237, 132, 122);
	box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 4px; 
	clear: both; ; color: rgb(0, 0, 0); 
	transition: 0.5s;
	border-radius: 5px;
	height: 40px;
	width: 235px;
}

.container-all{
	width: 1100px;
	margin: 0 auto;}
.fpt-uni-logo{
	padding-top: 10px;
}
.fpt-uni-logo img{
	margin-left: 30px;
}

.btn-search{
	background-color: rgb(242,114,41);
	color: aliceblue;
	border-radius: 5px;
	border: none;
	padding: 3px;
	font-size: 14px;
}
.btn-search:hover{
	color:rgb(242,114,41);
	background-color: aliceblue;
	border-radius: 5px;
}
nav{
	height: 35px;
	background: rgb(242,114,41);
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	float: left;
	line-height: 35px;
	/* padding: 0 15px; */
	position: relative;
}

nav .menu ul li a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 15px 35px;
}
nav .menu ul li a:hover{
	background-color: aliceblue;
	color: rgb(220, 104, 37);
	padding: 15px 35px;
}
nav .search{
	line-height: 35px;
	float: right;
	margin-right: 25px;;
}
nav .menu ul li .sub-menu{
	position: absolute;
	background-color: rgb(235, 235, 235);
	padding: 15px 0px;
	list-style: none;
	width: 220px;
	display: none;
}
nav .menu ul li:hover .sub-menu{
	display: block;
}
nav .menu ul li .sub-menu a{
	padding: 8px 15px;
	color: black;
	border-bottom: 1px solid rgb(118,111,144);
}
nav .menu ul li .sub-menu li:hover a{
	border-bottom: 1px solid rgb(134, 130, 150);
	background-color: rgb(242,114,41);
}
nav .menu ul li .sub-menu li:last-child{
	border: 5px;
}

.titleInfoPro {
    text-transform: uppercase;
	font-size: 1.0625rem;
}
.infoUser .card-header, .newsTabs .card-header {
    background-color: #f27229;
    color: #ffffff;
}
.card-header:first-child {
    border-radius: calc(0.375rem - 0px) calc(0.375rem - 0px) 0 0;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid #f1f4f8;
}
.card-header {
    padding: 1.5rem 2rem;
    margin-bottom: 0;
    background-color: rgba(22, 28, 45, .03);
    border-bottom: 0 solid #f1f4f8;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
	width: 950px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btnCancel{
	background-color: rgb(255, 238, 227);
	color: black;
}

.btnCancel:hover{
	background-color: black;
	color: rgb(226,226,226);
}

.btnSave{
	background-color: rgb(239,109,107);
	color: aliceblue;
}
.btnSave:hover{
	color:rgb(239,109,107);
	background-color: aliceblue;
}