*{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.banner{
	width: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.05)), url(image/HCM-scaled.jpg);
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media only screen and (max-width: 63.1875em){
	.banner{
		background-image: none;
	}
}
.header{
	width: 1100px;
	height: 100px;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 180px;
}
.header .fpt-uni-logo{
	padding: 30px 50px 10px 10px;
}
.header .fpt-uni-intro{
	padding-top: 30px;
	text-align: center;
}
.header .fpt-uni-intro .content-uni-intro{
	color: rgb(16,114,187);
	font-size: 13px;
	padding: 10px 10px 10px 10px;
	border: 10px 10px 10px 10px;
}
.header .search{
	padding: 30px 10px 10px 50px;
}
.header .search .search-text{
	border-radius: 5px;
	border: solid 1px;
	padding: 3px;
	font-size: 14px;
}
.newsTabs .card-body .boxNewsTab {
    border-bottom: 1px solid #cccccc;
    padding: 1rem 0;
}

.container-all{
	width: 1100px;
	margin: 0 auto;}
.fpt-uni-logo{
	padding-top: 10px;
}
.fpt-uni-logo img{
	margin-left: 30px;
}

.btn-search{
	background-color: rgb(242,114,41);
	color: aliceblue;
	border-radius: 5px;
	border: none;
	padding: 3px;
	font-size: 14px;
}
.btn-search:hover{
	color:rgb(242,114,41);
	background-color: aliceblue;
	border-radius: 5px;
}
nav{
	height: 35px;
	background: rgb(242,114,41);
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	float: left;
	line-height: 35px;
	/* padding: 0 15px; */
	position: relative;
}

nav .menu ul li a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 15px 35px;
}
nav .menu ul li a:hover{
	background-color: aliceblue;
	color: rgb(220, 104, 37);
	padding: 15px 35px;
}
nav .search{
	line-height: 35px;
	float: right;
	margin-right: 25px;;
}
nav .menu ul li .sub-menu{
	position: absolute;
	background-color: rgb(235, 235, 235);
	padding: 15px 0px;
	list-style: none;
	width: 220px;
	display: none;
}
nav .menu ul li:hover .sub-menu{
	display: block;
}
nav .menu ul li .sub-menu a{
	padding: 8px 15px;
	color: black;
	border-bottom: 1px solid rgb(118,111,144);
}
nav .menu ul li .sub-menu li:hover a{
	border-bottom: 1px solid rgb(134, 130, 150);
	background-color: rgb(242,114,41);
}
nav .menu ul li .sub-menu li:last-child{
	border: 5px;
}

.nganh-hoc {
    display: inline-flex;
}


/* .logo {
    background: whitesmoke;
    border-radius: 5%;
} */


/* .navbar {
    background-color: #F27229;
} */

.slogan {
    text-align: center;
    color: black;
    margin-top: 5px;
}

.container {
    margin-top: 5px;
}

.sort {
    display: inline-flex;
}

.logo1 {
    text-align: center;
}

.logocty img {
    width: 100px;
    margin-top: 2rem;
    display: inline-flex;
}

.cty {
    display: inline-flex;
    border: 1px black outset;
    background-color: #F7F7F7;
}

.description p {
    margin-bottom: 0%;
}

.col-5 {
    margin-bottom: 5rem;
}

.advertisement img {
    width: 30rem;
    margin-bottom: 50px;
}
.c-avatar {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50em;
    width: 36px;
    height: 36px;
    font-size: 14.4px;
    margin-left: 50px;
}
.c-avatar-img{
    vertical-align: middle;
    border-style: none;
    width: 85%;
    height: 85%;
    border-radius: 60%;
}




